* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  background-color: #100720;
  ;
  color: rgb(153, 248, 216);
}

.navbar a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 0;
  text-decoration: nome;
  color: rgb(153, 248, 216);
}

.navbar a:hover {
  text-decoration: nome;
  color: rgb(153, 248, 216);
}

.navbar {
  text-align: center;
  justify-content: flex-end;
}

.imgNavContato {
  width: 50px;
  height: 30px;
  transition: 0.1s;
}

.imgNavContato:hover {
  width: 55px;
  height: 35px;
}

.imgNav {
  width: 30px;
  height: 30px;
  transition: 0.1s;
}

.imgNav:hover {
  width: 35px;
  height: 35px;
}

.hidden {
  display: none;
}

.imgLogo {
  margin-top: 10%;
  width: 40px;
  height: 40px;
  transition: 0.1s;
}

.imgLogo:hover {
  width: 45px;
  height: 45px;
}

span {
  line-height: 1.5;
  font-size: 200%;
  color: aliceblue;
}

.divApresentacao {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

#cursor {
  display: inline-block;
  width: 8px;
  height: 24px;
  background-color: aliceblue;
  animation: blink 0.8s infinite alternate;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.myCard {
  width: 290px;
  height: 354px;
  perspective: 1000px;
  margin: 0 auto;
  margin-bottom: 5%;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.imgCard {
  width: 85px;
  height: 45px;
}

.imgCard2 {
  width: 45px;
  height: 45px;
}

.imgCard3 {
  width: 45px;
  height: 45px;
}

.Tel {
  color: aliceblue;
}

.Tel:hover {
  color: rgb(153, 248, 216);
  text-shadow: 0px 0px 10px rgba(153, 248, 216, 0.573), 0px 0px 10px rgb(153, 248, 216);
}

.myCard p {
  font-size: 24px;
  margin-top: 5%;
}

.myCard a {
  text-decoration: none;
  color: aliceblue;
}

.linkCard3 {
  font-size: 24px;
}

.myCard a:hover {
  color: rgb(153, 248, 216);
  text-shadow: 0px 0px 10px rgba(153, 248, 216, 0.573), 0px 0px 10px rgb(153, 248, 216);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(153, 248, 216);
  color: aliceblue;
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: rgba(153, 248, 216, 0.0300);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.backSide,
.backSide::before {
  background: rgba(153, 248, 216, 0.0300);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.3;
  }
}